* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  line-height: 1.6rem;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}
/* Thay đổi màu của phần cụ thể của thanh cuộn */
::-webkit-scrollbar-thumb {
  background-color: #86bc42;
}
/* Thay đổi màu của phần nền của thanh cuộn */
::-webkit-scrollbar-track {
  background-color: #d8d7d7;
}

/* Tool */

.tool {
  position: fixed;
  display: none;
  bottom: 16px;
  right: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #86bc42;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}

.tool i {
  padding: 1px;
  color: #86bc42;
  font-size: 4rem;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #86bc42;
  transition: linear 0.2s;
}

/* header gioi thieu */

.header_background img {
  width: 100%;
  height: 300px;
}

.header_box {
  position: absolute;
  width: 500px;
  height: 60px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.header_name {
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}

.header_pointer {
  font-size: 1.6rem;
  color: #fff;
}

/* Header va slide show */

.header {
  position: relative;
  width: calc(100vw - 10px);
}

.header_info {
  width: 100%;
  position: absolute;
  top: 0;
  height: 50px;
  border-bottom: 1px solid #7f8c94;
  display: flex;
  justify-content: space-between;
  padding: 6px 160px;
  font-size: 1.4rem;
  font-weight: 500;
}

.header_info a {
  padding: 0 10px;
}

.header_info i,
.nav i {
  font-size: 2rem;
  padding: 6px;
}

.header_info-right a:nth-child(2) {
  border-right: 1px solid #fff;
}

.header_info-right i {
  padding: 0;
  margin-top: 10px;
}

.header_info-right {
  position: relative;
}

.cart_number {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #86bc42;
  top: 0;
  right: 0;
  padding: 1px 4px;
  color: #fff;
}

.header_nav {
  width: 100%;
  position: fixed;
  top: 10%;
  display: flex;
  justify-content: space-between;
  padding: 0 160px;
  z-index: 1;
}

.search_input {
  position: absolute;
  bottom: -30px;
  right: 140px;
  border-radius: 6px;
  width: 500px;
  height: 42px;
  padding: 0px 20px;
  border: none;
  outline: none;
  display: none;
}

.search_btn {
  position: absolute;
  background-color: #86bc42;
  width: 60px;
  height: 32px;
  bottom: -25px;
  right: 146px;
  border: none;
  cursor: pointer;
  display: none;
}

.search_btn i {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  margin-top: 4px;
}

.on_search {
  display: block;
  transition: linear 0.2s;
}

.fixed {
  background-color: #000;
  top: 0;
  transition: background-color 0.3s ease;
}

.logo img {
  height: 64px;
}

.nav a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0 10px;
  line-height: 64px;
}

.nav a:hover {
  color: #86bc42;
}

.header_slides {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.index_img {
  position: absolute;
  display: flex;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.index_item {
  border: 2px solid #86bc42;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.index_active {
  background-color: #86bc42;
}

.btn_slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
  cursor: pointer;
}

.list_img {
  width: 100%;
  display: flex;
}

.list_img img {
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.btn_slides-left {
  left: 10px;
}

.btn_slides-right {
  right: 10px;
}

.btns_slides i {
  font-size: 8rem;
  color: #fff;
}

/* Container */

.main {
  margin-top: 40px;
  padding-top: 10px;
  border: 1px solid #b5b3b3;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  position: relative;
  width: calc(100vw - 10px);
}

.table th {
  padding-top: 10px;
  padding-right: 70px;
  font-size: 20px;
}

#show {
  font-size: 20px;
  margin-top: 20px;
}

#show input {
  margin: 10px;
  width: 30px;
}

#show td {
  font-size: 2.1rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pay_cart {
  padding-top: 10px;
  padding-left: 50%;
  margin-top: 40px;
}

.total {
  display: flex;
  justify-content: space-evenly;
}
.total_amount {
  font-size: 20px;
}

#cart-total {
  font-size: 20px;
}

.pay {
  border-radius: 5px;
  height: 40px;
  width: 48%;
  margin-top: 10px;
  margin-left: 26%;
  color: #fff;
  background-color: #86bc42;
  border: none;
  font-size: 20px;
}

.pay:hover {
  background-color: #ace95b;
  transition: linear 0.2s;
  cursor: pointer;
}

.introduce_title1,
.contact_title,
.products1_left_title {
  font-size: 3rem;
  font-weight: 500;
}

.introduce1 {
  display: flex;
}

.introduce1_left {
  width: 70%;
}

.introduce1_left h6 {
  font-size: 1.2rem;
  font-weight: 400;
}

.introduce1 h2 {
  font-size: 2.4rem;
  font-weight: 400;
  padding: 30px 0 20px 0;
}

.introduce1 p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  margin-bottom: 10px;
}

.introduce1 span {
  font-weight: 600;
}

.introduce1 img {
  width: 100%;
}

.introduce1_right {
  width: 30%;
  padding-left: 30px;
}

.introduce1_right h4 {
  width: 100%;
  height: 40px;
  padding-top: 12px;
  text-align: center;
  font-size: 1.8rem;
  font-style: italic;
  background-color: #f8f7f7;
  border-bottom: 2px solid #dfdfdf;
}

.introduce1_dot {
  padding: 4px;
  background-color: #000;
  border-radius: 50%;
  margin: 5px 10px 5px 2px;
}

.introduce1_list span {
  display: flex;
  padding: 4px;
}

.introduce1_list a {
  color: #86bc42;
  font-size: 1.6rem;
  font-weight: 400;
}

.introduce1_list a:hover,
.introduce1_pro_item a:hover {
  color: #ace95b;
  transition: linear 0.2s;
}

.introduce1_pro {
  margin-top: 20px;
}

.introduce1_pro img {
  width: 100px;
}

.introduce1_pro_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.introduce1_pro_item a {
  color: #86bc42;
  font-size: 1.6rem;
  font-weight: 500;
}

.introduce1_pro_item span:first-child {
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: line-through;
}

.introduce1_pro_item span:last-child {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: underline;
  margin-left: 5px;
}

.introduce1_gallery h4 {
  margin: 20px 0;
}

.introduce1_gallery img {
  width: 110px;
  padding: 2px 4px;
}

.introduce1_gallery img:hover {
  opacity: 0.6;
  transition: linear 0.2s;
}

/* Section Gioi Thieu */

.introduce,
.introduce1 {
  padding: 80px 160px;
}

.introduce_title {
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 80px;
}

.introduce_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.introduce_info h4 {
  font-size: 2rem;
  font-weight: 500;
  margin: 10px 0;
}

.introduce_info p {
  font-size: 1.4rem;
  font-weight: 400;
}

.intro_left-item,
.intro_right-item {
  width: 300px;
  text-align: center;
}

.intro_left-item div,
.intro_right-item div {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #86bc42;
  margin: auto;
}

/* Section Banner */

.banner {
  position: relative;
  width: 100%;
  height: 450px;
  background-image: url(./images/banner.jpg);
  background-size: cover;
}

.banner_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 78%;
  height: 80%;
  margin: auto;
  border: 6px solid #d7e3d0;
  text-align: center;
  padding: 40px;
  align-self: auto;
}

.banner_box div {
  font-size: 3rem;
  color: #86bc42;
  font-weight: 600;
}

.banner_box h2 {
  font-size: 8rem;
  color: #fff;
  padding: 80px 0 70px 0;
}

.banner_box h4 {
  font-size: 2rem;
  color: #fff;
  padding-bottom: 30px;
}

.banner_box button {
  background-color: #86bc42;
  width: 150px;
  height: 40px;
  border-radius: 40px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.banner_box button:hover {
  color: #86bc42;
  border: 1px solid #86bc42;
  background-color: transparent;
  transition: linear 0.2s;
}

/* Section san pham */

.href {
  font-size: 1.4rem;
  font-weight: 400;
  color: #838383;
  margin-bottom: 30px;
}

.href a {
  color: #838383;
}

.products {
  padding: 100px 160px;
  text-align: center;
}

.product_title {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 80px;
}

.product_list {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}

.product_list div {
  position: relative;
  padding: 0 20px 6px 20px;
}

.product_box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product_item {
  width: 25%;
  height: 380px;
  border: 1px solid #d3d3d3;
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.product_item img {
  width: 100%;
  /* margin-bottom: 10px; */
}

.product_item a {
  color: #000;
  font-size: 1.6rem;
  font-weight: 500;
}

.product_price {
  padding: 10px 0;
}

.product_price span:last-child {
  font-size: 1.2rem;
  font-weight: 400;
  color: #b7b7b7;
  text-decoration: line-through;
  padding: 0 4px;
}

.product_price span:first-child {
  font-size: 1.6rem;
  font-weight: 600;
  color: #86bc42;
  padding: 0 4px;
  text-decoration: none;
}

.product_info {
  background-color: #fafafa;
  text-align: center;
  padding: 10px;
  height: 100%;
}

.product_info a:hover {
  color: #fff;
  transition: linear 0.2s;
}

.product_btn {
  width: 80px;
  height: 36px;
  background: #86bc42;
  border: 1px solid #fff;
  margin: auto;
  color: #fff;
  border-radius: 40px;
  line-height: 36px;
  font-size: 1.4rem;
  display: none;
}

.product_btn a {
  color: #fff;
}

.product_btn button {
  background-color: #86bc42;
  color: #fff;
  border: none;
  font-size: 1.4rem;
}

.product_item:hover {
  transform: translateY(3px);
  transition: linear 0.3s;
  .product_price span {
    color: #fff;
  }
  .product_info {
    background-color: #86bc42;
  }
  .product_btn {
    display: block;
  }
  box-shadow: 0 5px 5px 0 rgba(83, 82, 82, 0.5);
}

/* Section san pham hot */

.product_hot {
  padding: 50px 160px;
}

.product_hot_title {
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 80px;
}

.hot_item {
  display: flex;
  justify-content: space-between;
}

.hot_name {
  font-size: 2.6rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.hot_info {
  padding-left: 40px;
}

.hot_price span:first-child {
  font-size: 2.4rem;
  font-weight: 600;
  color: #86bc42;
  margin-right: 10px;
}

.hot_price span:last-child {
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: line-through;
  color: #b7b7b7;
}

.hot_para {
  font-size: 1.6rem;
  font-weight: 400;
  color: #939393;
  margin: 30px 0;
}

.product_hot_btn {
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 40px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #86bc42;
}

.product_hot_btn:hover {
  color: #86bc42;
  background-color: #fff;
  border: 1px solid #86bc42;
  transition: linear 0.2s;
}

.product_hot_imgs {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

/* Section comments */

.customer {
  width: 100%;
  height: 600px;
  color: #fff;
  text-align: center;
  padding: 0 160px;
  background-size: cover;
  background-image: url(./images/customer.jpeg);
}

.customer_title {
  text-align: center;
  color: #fff;
  font-size: 5rem;
  font-weight: 500;
  padding: 100px 0;
}

.list_comments {
  display: flex;
  justify-content: space-between;
}

.comment_item {
  width: 100%;
  margin: 5px;
  height: 290px;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 35px;
}

.icon_comment {
  font-size: 4rem;
}

.user_comment {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 20px 0;
}

.comment_item p {
  font-size: 1.6rem;
  font-weight: 400;
}

/* Section News */

.news {
  padding: 0 160px;
}

.news_title {
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  padding: 100px 0;
}

.news_box {
  display: flex;
}

.main_news {
  background-color: #f9f9f9;
  height: 600px;
}

.main_news img {
  width: 100%;
}

.news_info {
  padding: 16px;
  border-bottom: 1px solid #eee;
}

.news_info a:first-child {
  color: #000;
  font-size: 3rem;
  font-weight: 500;
}

.news_info p {
  font-size: 1.6rem;
  margin: 16px 0;
  font-weight: 400;
  color: #808080;
}

.news_info a {
  position: relative;
  color: #646262;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

.news_info i {
  position: absolute;
  font-size: 2.4rem;
  top: -2px;
  color: #646262;
}

.calendar {
  padding-left: 16px;
  font-size: 1.6rem;
  color: #808080;
  padding: 10px;
}

.calendar i {
  font-size: 2rem;
  margin-right: 6px;
}

.main_news:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: linear 0.2s;
}

.news_item {
  display: flex;
  margin: 0 0 20px 30px;
  background-color: #f9f9f9;
}

.news_item:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: linear 0.2s;
}

.news_item img {
  object-fit: cover;
  height: 200px;
  width: 180px;
  padding-bottom: 10px;
}

.list_news .news_info a:first-child {
  font-size: 2.2rem;
}

/* Footer */

.footer {
  width: 100%;
  height: 610px;
  background-color: #000;
  padding: 0 160px;
  margin-top: 50px;
}

.footer_logo {
  padding: 150px 0 20px 0;
  text-align: center;
}

.footer_logo img {
  width: 300px;
}

.list_media {
  text-align: center;
}

.list_media i {
  font-size: 2.4rem;
  padding: 12px;
  color: #969c9e;
}

.footer_info {
  display: flex;
  justify-content: space-between;
}

.footer_title {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  font-style: italic;
  margin: 40px 0;
}

.footer_contact i {
  margin-right: 10px;
}

.footer_gallery_box {
  display: flex;
  justify-content: space-between;
}

.footer_gallery img {
  width: 80px;
  height: 70px;
  padding: 4px;
}

.footer_gallery img:hover {
  opacity: 0.6;
  transition: linear 0.2s;
}

.footer_contact,
.footer_help,
.footer_fast,
.footer_gallery {
  width: 25%;
  padding: 0 10px;
}

.footer_contact,
.footer_help,
.footer_fast {
  display: flex;
  flex-direction: column;
}

.footer_contact a,
.footer_help a,
.footer_fast a {
  font-size: 1.6rem;
  padding: 8px 0;
  color: #969c9e;
}

.footer_contact a:hover,
.footer_help a:hover,
.footer_fast a:hover,
.list_media i:hover {
  color: #fff;
}

.contact {
  padding: 80px 160px 100px 160px;
  display: flex;
}

.contact_box {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.contact_box span {
  margin: 44px 0 20px;
  font-size: 1.6rem;
}

.contact_box a {
  font-size: 1.7rem;
  color: #86bc42;
  padding: 12px 0;
}

.contact_box a:hover {
  color: #ace95b;
  transition: linear 0.2s;
}

.contact_text {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 10px 0;
}

.contact_name,
.contact_email {
  width: 50%;
  height: 40px;
  outline: none;
  border: 1px solid #333;
  margin: 10px 0;
  padding-left: 20px;
}

.contact_content {
  width: 60%;
  height: 80px;
  outline: none;
  border: 1px solid #333;
  margin: 10px 0;
  padding-left: 20px;
}

.contact_btn {
  width: 20%;
  height: 40px;
  outline: none;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 10px 0 20px 0;
  color: #fff;
  background-color: #86bc42;
  border: none;
  cursor: pointer;
}

.contact_map iframe {
  width: 100%;
}

.products1 {
  padding: 80px 160px 100px 160px;
  display: flex;
  justify-content: space-between;
}

.products1_left {
  width: 70%;
}

.option {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.option_show_pro {
  font-size: 1.6rem;
  font-weight: 400;
}

.option_arrange {
  height: 40px;
  outline: none;
  border: 1px solid #b5b3b3;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  padding-left: 5px;
}

.mess {
  width: 100%;
  height: 60px;
  margin-top: 24px;
  background-color: #f7f6f7;
  display: flex;
  font-size: 1.6rem;
  padding: 20px;
  border-top: 4px solid #2187bf;
}

.mess div {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: #2187bf;
  margin-right: 16px;
}

.container_top {
  padding: 80px 160px;
  display: flex;
  justify-content: space-between;
}

.product_slides {
  width: 30%;
}

.list_product_img img {
  border: 1px solid #333;
  width: 100%;
}

.fruit_info {
  width: 70%;
  padding-left: 20px;
}

.fruit_name {
  font-size: 2.8rem;
  font-weight: 600;
  color: #000;
}

.fruit_price {
  margin: 20px 0;
}

.fruit_price span:first-child {
  font-size: 2.2rem;
  font-weight: 500;
  color: #86bc42;
  margin-right: 16px;
}

.fruit_price span:last-child {
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: line-through;
  color: #bebebe;
}

.interac {
  font-size: 2.8rem;
}

.interac i {
  cursor: pointer;
  margin-right: 10px;
}

.interac i:first-child:hover {
  color: rgb(254, 52, 52);
}

.interac i:nth-child(2):hover {
  color: rgb(84, 84, 243);
}

.interac i:last-child:hover {
  color: #86bc42;
}


.fruit_box_buy {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.quantity_input {
  width: 50px;
  text-align: center;
  height: 30px;
  margin-right: 20px;
  outline: none;
}

.fruit_buy {
  width: 150px;
  height: 40px;
  background-color: #86bc42;
  color: #fff;
  text-align: center;
  font-size: 2.2rem;
  line-height: 40px;
  cursor: pointer;
}

.fruit_text {
  font-size: 1.6rem;
  margin: 20px 0;
  line-height: 2.6rem;
  font-weight: 500;
  color: #515151;
}

.hotline {
  font-size: 1.6rem;
}

.hotline i {
  font-size: 2rem;
}

.hotline a {
  color: #86bc42;
}

.hotline a:hover,
.category a:hover {
  color: #ace95b;
  transition: linear 0.2s;
}

.fruit_code {
  font-size: 1.6rem;
  margin: 20px 0;
}

.category {
  font-size: 1.6rem;
}

.category a {
  color: #86bc42;
}

.container_mid {
  padding: 0px 160px 80px 160px;
}

.fruit_list_info {
  display: flex;
}

.fruit_desc,
.fruit_origin,
.fruit_standard,
.fruit_rate {
  font-size: 2rem;
  font-weight: 600;
  margin-right: 20px;
  cursor: pointer;
}

.fruit_box_title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 30px;
}

.fruit_box1 p,
.fruit_box2 p,
.fruit_box3 p,
.fruit_box4 p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
}

.fruit_box1 span,
.fruit_box2 span,
.fruit_box3 span,
.fruit_box4 span {
  font-weight: 500;
}

.container_bot {
  padding: 0 160px 80px 160px;
}

.similar_title {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.fruit_box_status,
.fruit_box_desc,
.fruit_box_rating,
.fruit_box_comment {
  font-size: 1.6rem;
  margin: 30px 0;
}

.fruit_box2,
.fruit_box3,
.fruit_box4 {
  display: none;
}

.star {
  margin-top: 10px;
  color: #b0afaf;
  font-size: 2rem;
  cursor: pointer;
}

.star:hover,
.star.hovered,
.star.selected {
  color: #86bc42;
  transition: linear 0.2s;
}

.fruit_box_comment,
.fruit_box_name,
.fruit_box_btn {
  outline: none;
}

.fruit_box_name {
  width: 400px;
  height: 40px;
  padding-left: 16px;
}

.fruit_box_name {
  margin: 10px 0;
}

.fruit_box_btn {
  width: 120px;
  height: 40px;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #86bc42;
  border: none;
  color: #fff;
  cursor: pointer;
}

.fresh_date {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.fresh_para {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 20px;
  line-height: 2.6rem;
}

.fresh_img img {
  width: 24%;
}

.icon_mobile {
  font-size: 3rem;
  color: #fff;
  display: none;
  margin: auto 20px auto auto;
  cursor: pointer;
}

.close_nav i {
  font-size: 2.6rem;
  float: right;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  display: none;
}

.change_text {
  color: #86bc42;
  padding-bottom: 8px;
  border-bottom: 5px solid #86bc42;
  transition: linear 0.2s;
}
